{{define "header"}}
<header>
	<div class="wrapper">
		<h1><a href="http://{{.SiteDetails.BaseURL}}">{{.SiteDetails.Title}}</a></h1>
		{{ if eq .Logged "no" }}
			<h2>Not Logged</h2>
		{{ else if eq .Logged "yes" }}
		    <h2>Logged!</h2>
		{{ else }}
			<h2>Don't know if Logged!</h2>
		{{ end }}	
	</div>
</header>
{{end}}
