{{define "initialize"}}
<head>
<title>{{.View.Page.Title}} - {{.SiteDetails.Title}}</title>
<script src="/scripts/jquery-3.2.0.js"></script>
<script src="/scripts/flash.js"></script>
<link rel="icon" type="image/png" href="/images/favicon.png" />
<link rel="stylesheet" href="/css/podcast-host.css">
<link href="//fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Sanchez:400italic,400" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Lato|Alegreya+Sans|Roboto+Condensed:400,300|Roboto+Slab:400,300&subset=latin,latin-ext" rel="stylesheet">
</head>
{{end}}
