{{define "main"}}
{{template "main-navigation" .}}
<main>
<div class="flash-success"></div>
<div class="flash-error"></div>
<div class="flash-notice"></div>
<div class="flash-alert"></div>
<section class="content">
	<article class="type-system-geometric">
	{{ if eq .View.Name "User" }}
    	{{template "user" .}}
	{{ else if eq .View.Name "Home" }}
	    <h2>Welcome!</h2>
	{{ end }}

	</article>
</section>
{{template "side-navigation" .}}
</main>
{{end}}
